*{
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  html{
  height: 100%;
  }
  /* body{
    height: 300vh;
  } */
  
  #logo{
    position: relative;
   width: 95%;
   height: auto;
    margin: 15px 10px 25px 10px;
  }
  
  nav{
    height: 9vh;
    background: black;
    position: sticky;
    top: 0;
    border-top: 4px solid coral;
    margin: 13px 2px;
  }
  
  .nav-links{
    display:flex;
    list-style: none;
    width: 75%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 25px 15px 25px;
    
  }
  
  a.active{
      color: black !important;
      background-color:coral !important;
  }
  
  .nav-links li a:hover{
      color: black;
      background-color: white;
  }
  
  nav ul li.hidden{
      display: none;
  }

   section h1{
    font-size: 60px;
    padding: 0px 25px;
}

time h1{
    font-size: 50px;
    padding: 0px 15px;
}
time p{
    font-size: 23px;
    padding: 12px 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* footer */
footer{
    bottom:0;
    left:0;
    width: 100%;
  }
  
  footer .main{
    background-color: rgba(0,0,0, 0.7);
    color:white;
    display: flex;
    justify-content:space-around;
  }
  
  #gallery{
   display:grid;
   grid-template-columns: repeat(3,250px);
   grid-column-gap:20px;
   grid-row-gap:20px;
  }
  #gallery img{
   width: 100%;
   transition: 0.3s;
  }
  #gallery img:hover{
   opacity: 0.5;
  }
  
  footer .botto{
    background-color:rgba(0,0,0,0.9);
    color:white;
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  footer h2{
    font-family: 'Playfair Display', serif !important;
  }
  address p{
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
  }
  footer .botto a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    bottom: 0px;
  }

/* Hover effects1*/
nav .nav-links .content{
  font-size: 23px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.9);
  display: none;
  min-width: 250px;
  background-color: #f1f1f1;
}
nav .nav-links .content a{
  text-decoration: none;
  padding: 15px 28px;
  display: block;
  color: #000;
  text-align: center;
}

nav .nav-links .dropdown:hover .content{
    display: block;
}
nav .nav-links .content a:hover {
  background-color: #ddd;
}

/* hover end*/

  /* nav */
 @media screen and (max-width:850px){
    .line{
      width:35px;
      height: 4px;
      background: white;
      margin: 5px;
    }
  
    .hamburger{
      position:absolute;
      cursor: pointer;
      right: 5%;
      top:50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
   
   .nav-links{
      position:sticky;
      background: coral;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -34%);
      -webkit-clip-path: circle(100px at 90% -34%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open{
      z-index: 1;
     clip-path: circle(1200px at 90% -10%);
     -webkit-clip-path: circle(1200px at 90% -10%);
     pointer-events: all;
     position: sticky;
     top:5px;
    }
  
    a.active{
        background-color: white !important;
    }
    .nav-links li {
      opacity: 0;
    }
  
    /* .nav-links li a:hover{
        padding: 8px 80px;
    } */
  
    .nav-links li a{
      font-size: 25px;
  } 
  .nav-links li:nth-child(1){
   transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
   transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3){
   transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4){
   transition: all 0.5s ease 0.5s;
  }
  li.fade{
   opacity: 1;
  }
    }

  

  @media screen and (max-width:500px){
    nav{
      height: 6vh;
    }
   }

   /* footer*/
 @media screen and (max-width:1400px){
    #gallery{
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    address p{
      font-size: 25px;
    }
  }
  
  @media screen and (max-width:1300px){
    #gallery{
      grid-template-columns: repeat(3,auto);
    }
  }
  
  @media screen and (max-width:1200px){
    section iframe{
     width: 300px;
      height: 300px;
    } 
    #gallery{
      grid-template-columns: repeat(2,200px);
    }
  }
  
  @media screen and (max-width:800px){
    #gallery{
      grid-template-columns: repeat(2,150px);
    }
  }
  
  @media screen and (max-width:700px){
    footer h2{
      font-size: 20px;
    }
    address p{
      font-size: 20px;
    }
    
    section iframe{
      width:250px;
      height: 250px;
    }
    #gallery{
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      grid-template-columns: repeat(2,110px);
  
    }
  }
  
  @media screen and (max-width:600px){
    footer h2{
      font-size: 15px;
    }
    address p{
      font-size: 17px;
    }
  
    section iframe{
      width: 200px;
       height: 200px;
     } 
  
    #gallery{
      grid-template-columns: repeat(2,110px);
    }
  }
  @media screen and (max-width:600px){
    #gallery{
      grid-template-columns: repeat(2,90px);
    }
  }
  @media screen and (max-width:500px){
    footer .main{
      display: block;
    }
    footer h2{
      font-size: 35px;
    }
    address p{
      font-size: 27px;
    }
    section iframe{
      width: 350px;
      height: 480px;
    }
  
    #gallery{
      grid-template-columns: repeat(2,auto);
      grid-column-gap: 13px;
      grid-row-gap: 13px;
    }
  
  
  }
  @media screen and (max-width:350px){
    footer h2{
      font-size: 30px;
    }
    address p{
      font-size: 17px;
    }
    section iframe{
      width: 250px;
      height: 350px;
    }
  }




  @media screen and (max-width:900px){
    nav .nav-links .dropdown:hover .content{
      display: none;
    }
    .show{
      display: block !important;
    }
  }